/* 你的任務：實作以下 CSS */
.card{
  /* 基本卡片樣式 */
  width: 200px;
  height: 350px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(45, 45, 45);
  box-shadow: color-mix(in hsl shorter hue, color percentage, color percentage) 2px 4px rgba(0, 0, 0, 0.1);
  
  transition: all 0.3s ease;
   position: relative;
}
/* 1. 滑鼠懸停特效 (:hover) */
.card:hover {
  /* 讓卡片往上浮動並放大 */
    scale: 1.05;
    transform: translateY(-5px);
    transition: transform 0.3s ease, scale 1s ease;
    box-shadow: 0 4px 8px rgba(247, 246, 246, 0.2);
    
}
.card:nth-child(2) {
  border: 2px solid gold;
  box-shadow: 0 0 10px gold;
}
/* 2. 熱門/稀有標籤 (::before) */
/* 必須使用偽元素在卡片右上角製作一個 "Rare" 或 "Hot" 的標籤 */
.popular::before {
  content: "RARE";
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: gold;
  color: black;
  padding: 10px;
  border-radius: 4px;
}

/* 3. 屬性列表圖示 (::before 或 ::marker) */
/* 讓列表項目前面出現自定義的顏色或符號 */
li::marker {
  color: gold; 
  content: "★ ";
}